<h1>Showroom Page</h1>
<table border="1" ng:hide="selectedItem != undefined" id="game-list">
    <tr>
        <td ng:repeat="(key, attr) in games[0]">{{key}}</td>
    </tr>
    <tr ng:repeat="game in games">
        <td ng:repeat="(key, attr) in game">{{game[key]}}</td>
        <td><button ng:click="edit(game)">Edit</button></td>
    </tr>
</table>
<table border="1" ng:show="selectedItem != undefined" id="game-detail">
    <tr>
        <td>Edit item</td>
    </tr>
    <tr ng:repeat="(key, attr) in selectedItem">
        <td>{{key}}</td>
        <td><input name="selectedItem[key]" size="80"></td>
    </tr>
    <tr>
        <td><button ng:click="save()">Save</button></td>
    </tr>
</table>
